{
  "presets": [
    ["env", {
      "modules": false,
      "exclude": ["transform-regenerator"]
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "external-helpers",
    ["fast-async", {
      "useRuntimeModule": true
    }]
  ]
}
